//- テンプレートは最新のものをフォルダごと複製して使用してください
//- 外注用テンプレートにも反映：https://rak.app.box.com/folder/94629540317?s=wt6ydhlrtv2zc1bhbfpqc9x80dsztsmx
//- ver 2.8.9 / 更新日時：2023.6.14 / 来店→施術 fix

extends ../../../../_common/pug/Base/_layout.pug

block init
  include _data
  - var css = `${'css/main.css' + parameter}`

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: 'キャンペーン一覧・特集',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/',
      },
      {
        name: meta.title, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content
  #CouponTemplate

    //- 終了対応
    #End
      - var endflag
      - var endTxt = 'このラ・クーポンは終了しました' //- ページ上部の文言
      - var btnTxt = 'ラ・クーポンは終了しました' //- ボタンの文言
      +endSet(endTxt)

    //- Campaign Tag
    //- Rule: https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2688949406
    section#CpnTags
      +campaignTag(taglist)

    //- ID、class名は自由
    section#Main.main(data-ratid='cpn_' + meta.directory + '_Main' data-ratevent='appear' data-ratparam='all')
      //- Use h1
      h1.main__title
        img.main__titleImg.-pc(src='img/main.png' + parameter alt=meta.title)
        img.main__titleImg.-sp(src='img/main_sp.png' + parameter alt=meta.title)
      //- 条件
      //- 事前
      if couponkind.type == 'add'
        .main__terms
          .main__termsBox
            p.main__termsTxt 対象条件：!{add.coupon.term}
            p.main__termsTxt
              | 予約期限： !{add.coupon.reserve_end}
              span
                | ／
              | 施術期限： !{add.coupon.visit_end}
            //- 常時開催
            if always.hold == true
              if always.price == false
                p.main__termsTxt.-small ※ラ・クーポンの額は月により増減します。
              p.main__termsTxt.-small ※本企画は予告無く変更・中止されることがございます。
            //- 初回利用
            - for(var i = 0; i < taglist.tag.length; i++)
              if taglist.tag[i] == '初回利用限定'
                p.main__termsTxt.-small ※初回利用者様とは、楽天ビューティからネット予約・施術したことのない方になります。
            p.main__termsTxt.-small
              | ※ラ・クーポン注意事項は
              a.main__termsLink(href='#Detail')
                | こちら
      //- 獲得
      if couponkind.type == 'get'
        .main__terms
          .main__termsBox
            span.main__termsTxt.-small
              | ※一部ラ・クーポンがご利用できない店舗がございます。ご利用できる店舗では、獲得済みのラ・クーポンが表示されます。
              //- 常時開催
              if always.hold == true
                br.-pc
                if always.price == false
                  | ※ラ・クーポンの額は月により増減します。
                | ※本企画は予告無く変更・中止されることがございます。
                br.-sp
              span.main__termsTxt.-small
              | ※ラ・クーポン注意事項は
              a.main__termsLink(href='#Detail')
                | こちら

    //- ラ・クーポン
    section#Coupon.coupon(data-ratid='cpn_' + meta.directory + '_Coupon' data-ratevent='appear' data-ratparam='all')
      //- 事前
      if couponkind.type == 'add'
        .couponAdd
          //- 終了対応
          if endflag == true
            //- ボタンセット(url,txt,endflag)
            +btnSet('', btnTxt, true)
          else
            //- ボタンセット(url,txt)
            +btnSet(add.btn_url, add.btn_txt)
            //- 条件
            .coupon__terms
              p.coupon__termsTxt
                | ※ラ・クーポン獲得後、ご利用者数が上限に達した場合はご利用いただけません。
      //- 獲得
      if couponkind.type == 'get'
        .couponGet
          //- 非遷移クーポン
          include ../../../../_common/pug/Module/Common/_couponOneClickBase
          +couponOneClickSet()
      //- hair care menu
      #Menu.menu
        .titleWrap
          h2.titleWrap--title ヘアケアメニュー
        article.menuWrap
          dl.menuBox
            dt.menuBoxPhoto.-genre0
              img.menuBoxPhotoImg(src='https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good,w_800/v1/sendai/haircare_0.jpg' + parameter, alt='ヘッドスパ')
            dd.menuBoxTitle.-genre0
              | ヘッドスパ
            dd.menuBoxSubTitle
              | リラックス効果や髪のベタつき改善
            dd.menuBoxTxtWrap
              p.menuBoxTxt
                | ヘッドスパは頭皮の洗浄やマッサージ、ヘアトリートメントなどの頭を中心としたリラクゼーション方法です。
                | 頭皮を洗浄することで毛穴の汚れを落とし、マッサージによって血行の流れをよくします。
          dl.menuBox
            dt.menuBoxPhoto.-genre1
              img.menuBoxPhotoImg(src='https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good,w_800/v1/sendai/haircare_1.jpg' + parameter, alt='トリートメント')
            dd.menuBoxTitle.-genre1
              | トリートメント
            dd.menuBoxSubTitle
              | 髪の毛のダメージを補修
            dd.menuBoxTxtWrap
              p.menuBoxTxt
                | トリートメントの役割は、髪の毛の内側に栄養成分を浸透させ、ダメージを補修することです。
                | スキンケアでいえば、美容液や保湿クリーム似た役割があります。
          dl.menuBox
            dt.menuBoxPhoto.-genre2
              img.menuBoxPhotoImg(src='https://cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,q_auto:good,w_800/v1/sendai/haircare_2.jpg' + parameter, alt='リタッチカラー')
            dd.menuBoxTitle.-genre2
              | リタッチカラー
            dd.menuBoxSubTitle
              | 染めた髪との境目をキレイに
            dd.menuBoxTxtWrap
              p.menuBoxTxt
                | 一度ヘアカラーをして時間が経つと、髪の毛が伸びて根元部分に地毛が目立ってきます。リタッチカラーは、その伸びてきた根元部分のみにカラーリングをして、以前かけたヘアカラーの色味に馴染ませることができます。
      //- welcome
      #Welcome.welcome
        h2.welcomeTitle
          | ヘアケアだけの予約歓迎！
        .welcomeTxtBox
          p.welcomeTxt
            | 新しいお店で髪を切るのは失敗が怖い...
            br
            | ヘアケアだけしたいけど、いつものお店には頼みにくい...
            br
            | 家の近くで気軽にヘアケアしたい...
          p.welcomeTxt
            | そんな方におすすめのキャンペーンです！

    //- anchor link
    #Shoplist(data-ratid='cpn_' + meta.directory + '_Shoplist' data-ratevent='appear' data-ratparam='all')

    //- shoplist
    section#salonFilterContainer
      #salonFilterSection(ref="wrapper", class="is-loading")
        .loader

        //- mixin card
        mixin card()
          if shoplist.select == '1column' || shoplist.select == 'btn'
            - var type = 'filterList'
          else if shoplist.select == '2column'
            - var type = 'filteredSalonList'
          #salonList(ref="list")
            .salonList
              section(v-for="item, index in " + type, :key="index", class="salonList__item position-relative")
                .salonList__content
                  .salonList__cover
                    img(:src='"//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_370,h_229/" + item.shop_id + "_01.jpg" + param', class="salonList__image", rel="preload", :alt="item.shop_name")
                  .salonList__outline
                    h3.salonList__salonName
                      a(:href='"/" + item.shop_id + "/?" + lid', class="salonList__link stretched-link") {{ item.shop_name }}
                    span.salonList__area
                      i.icon.icon-location
                      | {{ item.area }}
                    span.salonList__station
                      i.icon.icon-train
                      | {{ item.station }}
        //- mixin menuCard
        mixin menuCard()
          #salonList(ref="list")
            if shoplist.select == '1column' || shoplist.select == 'btn'
              - var type = 'filterList'
            else if shoplist.select == '2column'
              - var type = 'filteredSalonList'
            .salonList
              section(v-for="item, index in " + type, :key="index", class="salonList__item has-divide")
                .salonList__content.position-relative
                  .salonList__cover
                    img(:src='"//cloudinary-a.akamaihd.net/vivivi/image/upload/t_beauty,f_auto,dpr_2.0,q_auto:good/c_fill,g_auto,w_370,h_229/" + item.shop_id + "_01.jpg" + param', class="salonList__image", rel="preload", :alt="item.shop_name")
                  .salonList__outline
                    h3.salonList__salonName
                      a(:href='"/" + item.shop_id + "/?" + lid', class="salonList__link stretched-link") {{ item.shop_name }}
                    span.salonList__area
                      i.icon.icon-location
                      | {{ item.area }}
                    span.salonList__station
                      i.icon.icon-train
                      | {{ item.station }}
                .salonList__divide.position-relative
                  .salonList__outline
                    .salonList__detail
                      .salonList__menuIcon
                        span.salonList__genre.-no1(v-if='item.genreNo_1 == 1') {{ item.genre_1 }}
                        span.salonList__genre.-no2(v-if='item.genreNo_1 == 2') {{ item.genre_1 }}
                        span.salonList__genre.-no3(v-if='item.genreNo_1 == 3') {{ item.genre_1 }}
                      .salonList__menuDetail
                        h4.salonList__menuName
                          span.salonList__target(v-if='item.target_1 == "初回"') {{ item.target_1 }}
                          span.salonList__target.is-all(v-if='item.target_1 == "全員"') {{ item.target_1 }}
                          | {{ item.menu_name_1 }}
                    p.salonList__description {{ item.menu_detail_1 }}
                  .salonList__buttonArea
                    .salonList__menuPriceArea
                      span.salonList__menuTime 約{{ item.menu_time_1 }}分
                      span.salonList__menuPrice ￥{{ item.menu_price_1.toLocaleString() }}
                    .salonList__menuTermsArea
                      span.salonList__menuTerm {{ item.condition_1 }}
                    a(:href='"/reserve/?shop_ex_id=" + item.shop_id + "&menu_id=" + item.menu_id_1 + "&" + lid', class="stretched-link salonList__button") このメニューで予約する
                .salonList__divide.position-relative(v-if='item.menu_id_2')
                  .salonList__outline
                    .salonList__detail
                      .salonList__menuIcon
                        span.salonList__genre.-no1(v-if='item.genreNo_2 == 1') {{ item.genre_2 }}
                        span.salonList__genre.-no2(v-if='item.genreNo_2 == 2') {{ item.genre_2 }}
                        span.salonList__genre.-no3(v-if='item.genreNo_2 == 3') {{ item.genre_2 }}
                      .salonList__menuDetail
                        h4.salonList__menuName
                          span.salonList__target(v-if='item.target_2 == "初回"') {{ item.target_2 }}
                          span.salonList__target.is-all(v-if='item.target_2 == "全員"') {{ item.target_2 }}
                          | {{ item.menu_name_2 }}
                    p.salonList__description {{ item.menu_detail_2 }}
                  .salonList__buttonArea
                    .salonList__menuPriceArea
                      span.salonList__menuTime 約{{ item.menu_time_2 }}分
                      span.salonList__menuPrice ￥{{ item.menu_price_2.toLocaleString() }}
                    .salonList__menuTermsArea
                      span.salonList__menuTerm {{ item.condition_2 }}
                    a(:href='"/reserve/?shop_ex_id=" + item.shop_id + "&menu_id=" + item.menu_id_2 + "&" + lid', class="stretched-link salonList__button") このメニューで予約する

        //- 1column
        if shoplist.select == '1column'
          #salonFilter
            h2.filter-heading !{shoplist.title[0]}
              if shoplist.title[1]
                span.-sp
                  br
                | !{shoplist.title[1]}
            .filter-select
              select.filter-select__item(v-model="select1")
                option(value="") !{shoplist.firstTxt1}
                option(v-for="(item, index) in select1List", :value="item.name") {{ item.name }} ({{ item.count }}件)
          if shoplist.menu == false
            +card()
          else if shoplist.menu == true
            +menuCard()

        //- 2column
        else if shoplist.select == '2column'
          #salonFilter
            h2.filter-heading !{shoplist.title[0]}
              if shoplist.title[1]
                span.-sp
                  br
                | !{shoplist.title[1]}
            .filter-select
              select.filter-select__item(v-model="select1", ref="select1")
                option(value="", selected) !{shoplist.firstTxt1}
                option(v-for="(item, index) in select1List", :value="item") {{ item }}
            .filter-select
              select.filter-select__item(v-model="select2", ref="select2", disabled)
                option(value="", selected) !{shoplist.firstTxt2}
                option(v-for="(item, index) in select2List", :value="item") {{ item }}
            button(class="filter-button", disabled, v-on:click="search", ref="button")
              span 検索
              span(v-if="count !== 0 && !firstFlag") （{{count}}件）
          if shoplist.menu == false
            +card()
          else if shoplist.menu == true
            +menuCard()

        //- btn
        else if shoplist.select == 'btn'
          #salonFilter
            h2.filter-heading !{shoplist.title[0]}
              if shoplist.title[1]
                span.-sp
                  br
                | !{shoplist.title[1]}
            ul.filter-button-list
              li.filter-button-list-item
                button.filter-list-button(@click="select1 = ''", :class="{'is-selected': select1 == ''}") すべて
              li.filter-button-list-item(v-for="(item, index) in select1List")
                button.filter-list-button(@click="select1 = item.name", :class="{'is-selected': select1 == item.name}") {{ item.name }} ({{ item.count }}件)
          if shoplist.menu == false
            +card()
          else if shoplist.menu == true
            +menuCard()

    //- more search
    if morebtn.visible == true
      section#couponMore.couponMore(data-ratid='cpn_' + meta.directory + '_couponMore' data-ratevent='appear' data-ratparam='all')
        .couponSalon__moreBtn
          a.couponSalon__link(href=morebtn.url)
            | !{morebtn.title}
            if morebtn.subtxt
              span.couponMore__txtSmall
                | !{morebtn.subtxt}

    //- howto
    section#Howto.howto(data-ratid='cpn_' + meta.directory + '_Howto' data-ratevent='appear' data-ratparam='all')
      .titleWrap
        h2.titleWrap--title ラ・クーポンの使い方
      
      //- ラ・クーポンの使い方セット
      +howtoCouponset()

    //- app DL
    section#App.app.-excludeApp(data-ratid='cpn_' + meta.directory + '_App' data-ratevent='appear' data-ratparam='all')

      //- appInfoFlag 注意文の表示/非表示 trueで表示、falseで非表示
      - var appInfoFlag = false
      //- app DL parts(app2x or app3x)
      +appDL('app3x')
    
    //- Coupon Detail
    section#Detail.detail(data-ratid='cpn_' + meta.directory + '_Detail' data-ratevent='appear' data-ratparam='all')
      .detailBox
        .titleWrap
          h2.titleWrap--title ラ・クーポン注意事項
        p.detail__caption ※本キャンペーンは予告なく変更・中止される可能性がございます。
        //- 事前付与
        if couponkind.type == 'add'
          table.detail__table
            tbody
              tr.detail__tableBlock
                th.detail__tableBlockHead 予約期限
                td.detail__tableBlockBody !{add.coupon.reserve_end}
              tr.detail__tableBlock
                th.detail__tableBlockHead 施術期限
                td.detail__tableBlockBody !{add.coupon.visit_end}
              tr.detail__tableBlock
                th.detail__tableBlockHead 対象条件
                td.detail__tableBlockBody
                  p.detail__tableBlockTxt !{add.coupon.term}
              tr.detail__tableBlock
                th.detail__tableBlockHead 注意事項
                td.detail__tableBlockBody
                  ul.detail__tableBlockList
                    li.detail__tableBlockList--li ラ・クーポンは、お1人様1回までご利用いただけます。
                    li.detail__tableBlockList--li 他のラ・クーポンとの併用はできません。
                    li.detail__tableBlockList--li ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                    li.detail__tableBlockList--li ラ・クーポンは、マイページの
                      a.detail__tableBlockTxt--link(href="https://beauty.rakuten.co.jp/user/coupon.php")
                        | マイクーポン
                      | からご確認いただけます。
                    li.detail__tableBlockList--li ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）
                    li.detail__tableBlockList--li ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。
                    li.detail__tableBlockList--li ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。
                    li.detail__tableBlockList--li ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。
                    li.detail__tableBlockList--li ラ・クーポンは、電話予約でご利用できません。
                    li.detail__tableBlockList--li 一部、ラ・クーポンを利用できない店舗がございます。
                    li.detail__tableBlockList--li 発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。
                    li.detail__tableBlockList--li サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。
                    li.detail__tableBlockList--li ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくは
                      a.detail__tableBlockTxt--link(href="https://beauty.faq.rakuten.net/user/s/detail/000005759")
                        | こちら
                    li.detail__tableBlockList--li 本企画は予告無く変更・中止されることがございます。
                    li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                    li.detail__tableBlockList--li ご来店いただける期間はサロンの営業時間によって異なります。
        //- 獲得
        if couponkind.type == 'get'
          if couponkind.app == false
            table.detail__table
              tbody
                tr.detail__tableBlock
                tr.detail__tableBlock
                  th.detail__tableBlockHead 注意事項
                  td.detail__tableBlockBody
                    ul.detail__tableBlockList
                      li.detail__tableBlockList--li 獲得したラ・クーポンは、お1人様1回までご利用いただけます。
                      li.detail__tableBlockList--li 他のラ・クーポンとの併用はできません。
                      li.detail__tableBlockList--li ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                      li.detail__tableBlockList--li 獲得したラ・クーポンは、マイページの
                        a.detail__tableBlockTxt--link(href="/user/coupon.php")
                          | マイクーポン
                        | からご確認いただけます。
                      li.detail__tableBlockList--li ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）
                      li.detail__tableBlockList--li ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。
                      li.detail__tableBlockList--li ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。
                      li.detail__tableBlockList--li ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。
                      li.detail__tableBlockList--li ラ・クーポンは、電話予約でご利用できません。
                      li.detail__tableBlockList--li 一部、ラ・クーポンを利用できない店舗がございます。
                      li.detail__tableBlockList--li 発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。
                      li.detail__tableBlockList--li サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。
                      li.detail__tableBlockList--li ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。
                        a.detail__tableBlockTxt--link(href="https://beauty.faq.rakuten.net/user/s/detail/000005759")
                          | 詳しくはこちら
                      li.detail__tableBlockList--li 本企画は予告無く変更・中止されることがございます。
                      li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                      li.detail__tableBlockList--li ご来店いただける期間はサロンの営業時間によって異なります。
          //- 獲得＋アプリ予約のみ対象
          else if couponkind.app == true
            table.detail__table
              tbody
                tr.detail__tableBlock
                tr.detail__tableBlock
                  th.detail__tableBlockHead 注意事項
                  td.detail__tableBlockBody
                    ul.detail__tableBlockList
                      li.detail__tableBlockList--li 獲得したラ・クーポンは、お1人様1回までご利用いただけます。
                      li.detail__tableBlockList--li 他のラ・クーポンとの併用はできません。
                      li.detail__tableBlockList--li ラ・クーポンには利用上限枚数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                      li.detail__tableBlockList--li 獲得したラ・クーポンは、マイページの
                        a.detail__tableBlockTxt--link(href="/user/coupon.php")
                          | マイクーポン
                        | からご確認いただけます。
                      li.detail__tableBlockList--li ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用枚数を超えた場合等）
                      li.detail__tableBlockList--li ネット予約確定の前に、他のネット予約が成立し利用上限枚数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。
                      li.detail__tableBlockList--li ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。
                      li.detail__tableBlockList--li ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。
                      li.detail__tableBlockList--li ラ・クーポンは、電話予約でご利用できません。
                      li.detail__tableBlockList--li 一部、ラ・クーポンを利用できない店舗がございます。
                      li.detail__tableBlockList--li 発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。
                      li.detail__tableBlockList--li サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。
                      li.detail__tableBlockList--li ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。
                        a.detail__tableBlockTxt--link(href="https://beauty.faq.rakuten.net/user/s/detail/000005759")
                          | 詳しくはこちら
                      li.detail__tableBlockList--li 本企画は予告無く変更・中止されることがございます。
                      li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                      li.detail__tableBlockList--li ご来店いただける期間はサロンの営業時間によって異なります。


block js
  //- jsはここに書く

  //------------------------------- ライブラリ読み込み -------------------------------//

  //- jQuery（使用しない時はコメントアウト）
  //- script(src="/cnt/common/js/jquery/3.7.1/jquery.min.js", defer)

  //- vue（使用しない時はコメントアウト）
  script(src='/cnt/common/js/vue/vue.min.js', defer)
  script(src='/cnt/common/js/vue/axios.min.js', defer)

  //------------------------------- CPNパーツ用js読み込み -------------------------------//

  //- ボタン+checkbox（vue）
  script(src="/cnt/common/js/cpn-parts/btn_checkbox.js", defer)

  //- 1click coupon
  script(src='//r.r10s.jp/com/js/d/Rmodules/Rmodules.min.js?v=1.4.0', defer)
  script(src='//r.r10s.jp/com/js/d/coupon/one_click_acquisition/1.2/one_click_acquisition-1.2.0.min.js', defer)

  //------------------------------- Shoplist 絞り込み (vue) -------------------------------//

  //- js用パラメータ
  script.
    const param = '!{parameter}';
    const lid = '!{shoplist.lid}';
    const firstSelect1 = '!{shoplist.firstSelect1}';
    const firstSelect2 = '!{shoplist.firstSelect2}';

  //- pugで読み込みjsのurl（パラメータつき）を生成 = キャッシュ対策
  -
    var jsUrl1column = `${'js/filter-by-1column.js' + parameter}`
    var jsUrl2column = `${'js/filter-by-2column.js' + parameter}`

  //- js読み込み
  if shoplist.select == '1column' || shoplist.select == 'btn'
    script(src=jsUrl1column, defer)
  else if shoplist.select == '2column'
    script(src=jsUrl2column, defer)

  //------------------------------- このページ用のjs -------------------------------//

  //- あればここに書く
