//- 新クーポンLP専用テンプレート。毎回最新のものをフォルダごと複製して使用してください
//- テンプレートの種類について：https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2443993509
//- CSV Coupon Template / ver 1.2.0 / 更新日時：2024.10.9 / クーポンレイアウト、看板タグ、クーポン内条件表記、クーポン下注意文言アップデート

extends ../../../../_common/pug/Base/_layout.pug

block init
  //- Kintone情報読み込み
  include _kintone
  - var css = `${'css/main.css' + parameter}`
  //- シェア画像切り替え
  if coupon[0].種別 == '事前登録'
    - var shareImg = 'https://beauty.rakuten.co.jp/asset/img/Beauty/ogp.png' + parameter //- default
  if coupon[0].種別 == '獲得'
    - var shareImg = coupon[0].ページURL + 'img/share.png' + parameter //- default (シェア画像があれば変更)
  //- description（全員対象優先、全員対象がなければ一番最後のクーポンのdescriptionが入ります）
  - var loopflag = true;
  - for(var i = 0; i < coupon.length; i++)
    if loopflag == true && coupon[i].対象条件 == 'セグメントなし'
      - var descStr = coupon[i].クーポン説明
      - var loopflag = false //- break
    else if loopflag == true
      - var descStr = coupon[i].クーポン説明
  //- metaタグ等に反映
  include _setting

block addHead
  //- nofollowが必要なときはコメントを外す
  //- meta(name='robots', content='noindex,nofollow')

block nav
  //- grobalNav / ''に入れた部分がcurrent表示になる
  +grobalNav('/cnt/topics/')

  //- breadcrumb
  -
    var lists = [
      {
        name: 'キャンペーン一覧・特集',
        link: 'https://beauty.rakuten.co.jp/cnt/topics/',
      },
      {
        name: meta.title, //- タイトル以外を設定したいときは変更
        link: 'current', //- 'current' is no link
      },
    ]
  +breadcrumb(lists)

block content
  #Favorite

    //- 終了対応
    #End
      - var endflag
      - var endTxt = 'このラ・クーポンは終了しました' //- ページ上部の文言
      - var btnTxt = 'ラ・クーポンは終了しました' //- ボタンの文言
      +endSet(endTxt)

    //- Campaign Tag
    //- Rule: https://confluence.rakuten-it.com/confluence/pages/viewpage.action?pageId=2688949406

    //- このLP全体の対象判定
    //- 全員対象が1つでもあったら全員対象（全員対象＞対象サロン新規限定＞新規限定=対象サロン限定）
    - for (var i = 0; i < coupon.length; i++)
      //- 全員対象判定（1つでもあれば全員対象）
      if coupon[i].対象条件 == 'セグメントなし'
        - var tag_target = []
        - var allflag = true;
        if coupon[i].対象店舗予約有無 == 'なし'
          if coupon[i]['割引適用ショップ・アイテム'] == '指定ショップ'
            - var tag_target = ['対象サロン限定']
            - var allflag = true;
        else if coupon[i]['割引適用ショップ・アイテム'] == '指定ショップ'
          if coupon[i]['対象店舗予約有無'] == '0:サロン新規' || '1:サロンリピーター促進(2回目)' || '2:サロンリピーター促進(3回目)'
            - var tag_target = ['対象サロン限定', '対象者限定']
            - var allflag = true;
        else if coupon[i]['割引適用ショップ・アイテム'] == '全ショップ'
          if coupon[i]['対象店舗予約有無'] == '0:サロン新規' || '1:サロンリピーター促進(2回目)' || '2:サロンリピーター促進(3回目)'
            - var tag_target = ['対象者限定']
            - var allflag = true;
      else if coupon[i].対象条件 == '新規限定'
        if coupon[i].対象店舗予約有無 == 'なし'
          if coupon[i]['割引適用ショップ・アイテム'] == '指定ショップ'
            - var tag_target = ['対象サロン限定', '初回利用限定']
            - var allflag = true;
          else if coupon[i]['割引適用ショップ・アイテム'] == '全ショップ'
            - var tag_target = ['初回利用限定']
            - var allflag = true;
      //- 毎月開催判定
      if coupon[i].毎月開催 == '毎月'
        - var alwaysflag = true;
    //- tagリスト作り
    -
      var tags = ['ラ・クーポン']
      for (var j = 0; j < tag_target.length; j++)
        tags.push(tag_target[j])
    if alwaysflag
      - tags.push('毎月開催')

    //- 手動のtaglistがなければKintoneを反映
    if !taglist
      -
        var taglist = {
          tag: tags,
        }

    section#CpnTags
      +campaignTag(taglist)

    //- ID、class名は自由
    section#Main.main(data-ratid='cpn_' + directory + '_Main' data-ratevent='appear' data-ratparam='all')
      //- Use h1
      h1.main__title
        img.main__titleImg.-pc(src='img/main.png' + parameter alt=coupon[0].クーポン名)
        img.main__titleImg.-sp(src='img/main_sp.png' + parameter alt=coupon[0].クーポン名)
      //- 条件
      //- 事前登録
      if coupon[0].種別 == '事前登録'
        .main__terms
          .main__termsBox

            - var term2 = '先着利用' + addComma(coupon[0].利用上限枚数) + '回'
            - var term3 = '対象サロンのネット予約'
            - var term4 = 'ネット予約時の施術料金が' + addComma(coupon[0].利用最低金額) + '円(税込)以上'
            //- 初回利用の場合term1表示
            if coupon[0].対象条件 == '新規限定'
              - var term1 = '初回利用者様のみ'
              - var termslist = term1 + '／' + term2 + '／' + term3 + '／' + term4
            //- 全員対象の場合term1なし
            else if coupon[0].対象条件 == 'セグメントなし'
              - var termslist = term2 + '／' + term3 + '／' + term4
            //- サロン新規の場合term1表示
            if coupon[0].対象店舗予約有無 == '0:サロン新規'
              - var term1 = '対象サロンの初回利用者様のみ'
              - var termslist = term1 + '／' + term2 + '／' + term3 + '／' + term4

            p.main__termsTxt 対象条件：!{termslist}
            p.main__termsTxt
              | 予約期限：!{dateChange(coupon[0].利用終了日時)}
              span
                | ／
              | 施術期限：!{dateChange(coupon[0].来店終了日時)}
            //- 常時開催
            if coupon[0].毎月開催 == '毎月'
              p.main__termsTxt.-small ※本企画は予告無く変更・中止されることがございます。
            //- 初回利用
            if coupon[0].対象条件 == '新規限定'
              p.main__termsTxt.-small ※初回利用者様とは、楽天ビューティからネット予約・施術したことのない方になります。
            p.main__termsTxt.-small
              | ※ラ・クーポン注意事項は
              a.main__termsLink(href='#Detail')
                | こちら
      //- 獲得
      if coupon[0].種別 == '獲得'
        .main__terms
          .main__termsBox
            span.main__termsTxt.-small
              | ※一部ラ・クーポンがご利用できない店舗がございます。ご利用できる店舗では、獲得済みのラ・クーポンが表示されます。
              br.-pc
              | ※本企画は予告無く変更・中止されることがございます。
              span.main__termsTxt.-small
              | ※ラ・クーポン注意事項は
              a.main__termsLink(href='#Detail')
                | こちら

    //- ラ・クーポン
    section#Coupon.coupon(data-ratid='cpn_' + directory + '_Coupon' data-ratevent='appear' data-ratparam='all')
      //- 事前登録
      if coupon[0].種別 == '事前登録'
        .couponAdd
          //- 終了対応
          if endflag == true
            //- ボタンセット(url,txt,endflag)
            +btnSet('', btnTxt, true)
          else
            //- ボタンセット(url,txt)
            +btnSet('/user/coupon.php','マイクーポンをみる')
            //- 条件
            .coupon__terms
              p.coupon__termsTxt
                | ※利用回数が上限に達した場合はご利用いただけません。
      //- 獲得
      if coupon[0].種別 == '獲得'
        .couponGet
          //- 非遷移クーポン
          include ../../../../_common/pug/Module/Common/_couponOneClick
          +couponOneClickSet()

    //- Area Search
    section#SearchArea.searchArea(data-ratid='cpn_' + meta.directory + '_SearchArea' data-ratevent='appear' data-ratparam='all')
      h3.titleWrap--subtitle サロンを探す
      //- プロパティをつけると検索内容をカスタマイズできます
      //- https://git.rakuten-it.com/projects/RBEAUT/repos/rbeautyuicomponent/browse/src/components/ShopSearch/readme.md
      #shopSearch(default-genre-id="", default-prefectures-id="13", search-style="", search-type="")
        include ../../../../_common/pug/Module/Common/_shopSearchList

      .menuArea__wrap
        h3.menuArea__wrap--title 人気メニュー
        ul.menuArea
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/tk101/?l-id=rb_favorite_menu1")
              span.menuArea__category__link--icon
                img(src='img/img_category1.png' + parameter, width='100%' height='auto')
              | カット
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/men/tk135/?l-id=rb_favorite_menu2")
              span.menuArea__category__link--icon
                img(src='img/img_category2.png' + parameter, width='100%' height='auto')
              | メンズカット
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/tk103/?l-id=rb_favorite_menu3")
              span.menuArea__category__link--icon
                img(src='img/img_category3.png' + parameter, width='100%' height='auto')
              | ヘアカラー
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/tk104/?l-id=rb_favorite_menu4")
              span.menuArea__category__link--icon
                img(src='img/img_category4.png' + parameter, width='100%' height='auto')
              | リタッチカラー
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/tk107/?l-id=rb_favorite_menu5")
              span.menuArea__category__link--icon
                img(src='img/img_category5.png' + parameter, width='100%' height='auto')
              | 縮毛矯正
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/freeword%E7%82%AD%E9%85%B8%E3%82%B9%E3%83%91/sort7/?q=%E7%82%AD%E9%85%B8%E3%82%B9%E3%83%91&l-id=rb_favorite_menu6")
              span.menuArea__category__link--icon
                img(src='img/img_category6.png' + parameter, width='100%' height='auto')
              | 炭酸スパ
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/nail/st2/?l-id=rb_favorite_menu7")
              span.menuArea__category__link--icon
                img(src='img/img_category7.png' + parameter, width='100%' height='auto')
              | ハンド・フット
              br
              | ネイル
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/nail/st4/?l-id=rb_favorite_menu8")
              span.menuArea__category__link--icon
                img(src='img/img_category8.png' + parameter, width='100%' height='auto')
              | まつ毛パーマ
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/relax/tk516/?l-id=rb_favorite_menu9")
              span.menuArea__category__link--icon
                img(src='img/img_category9.png' + parameter, width='100%' height='auto')
              | オイル
              br
              | マッサージ
          li.menuArea__category
            a.menuArea__category__link(href="https://beauty.rakuten.co.jp/esthe/tk303/?l-id=rb_favorite_menu10")
              span.menuArea__category__link--icon
                img(src='img/img_category10.png' + parameter, width='100%' height='auto')
              | 脱毛

    //- howto
    section#Howto.howto(data-ratid='cpn_' + directory + '_Howto' data-ratevent='appear' data-ratparam='all')
      .titleWrap
        h2.titleWrap--title ラ・クーポンの使い方
      
      //- 事前付与
      if coupon[0].種別 == '事前登録'
        //- ラ・クーポンの使い方セット（'get' or 'add'）
        +howtoCouponset('add')
      //- 獲得
      if coupon[0].種別 == '獲得'
        //- ラ・クーポンの使い方セット（'get' or 'add'）
        +howtoCouponset('get')

    //- app DL
    section#App.app.-excludeApp(data-ratid='cpn_' + meta.directory + '_App' data-ratevent='appear' data-ratparam='all')

      //- app DL parts(app2x, adjustUrl, QRCodeURL)
      //- 
        1.狭域追加設定：app2xを表示
        2.DL用のAdjust URLとQRコードは基本変えずに運用でマーケと合意済み。変更したい場合は第2引数にadjustUrl、第3引数にQRCodeの画像URLを入れると変更可能
        3.例：+appDL('app2x','https://app.adjust.com/1ifdl1tv','/cnt/common/images/cpn-parts/btn_dl_qr.svg')

      //- appInfoFlag 注意文の表示/非表示 trueで表示、falseで非表示
      - var appInfoFlag = false
      +appDL('app2x')


    //- Coupon Detail
    section#Detail.detail(data-ratid='cpn_' + directory + '_Detail' data-ratevent='appear' data-ratparam='all')
      .detailBox
        .titleWrap
          h2.titleWrap--title ラ・クーポン注意事項
        p.detail__caption ※本キャンペーンは予告なく変更・中止される可能性がございます。
        //- 事前付与
        if coupon[0].種別 == '事前登録'
          table.detail__table
            tbody
              tr.detail__tableBlock
                th.detail__tableBlockHead 予約期限
                td.detail__tableBlockBody !{dateChange(coupon[0].利用終了日時)}
              tr.detail__tableBlock
                th.detail__tableBlockHead 施術期限
                td.detail__tableBlockBody !{dateChange(coupon[0].来店終了日時)}
              tr.detail__tableBlock
                th.detail__tableBlockHead 対象条件
                td.detail__tableBlockBody !{termslist}
              tr.detail__tableBlock
                th.detail__tableBlockHead 注意事項
                td.detail__tableBlockBody
                  ul.detail__tableBlockList
                    li.detail__tableBlockList--li ラ・クーポンの利用回数には上限があります。
                    li.detail__tableBlockList--li 他のラ・クーポンとの併用はできません。
                    li.detail__tableBlockList--li ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                    li.detail__tableBlockList--li ラ・クーポンは、マイページの
                      a.detail__tableBlockTxt--link(href="https://beauty.rakuten.co.jp/user/coupon.php")
                        | マイクーポン
                      | からご確認いただけます。
                    li.detail__tableBlockList--li ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）
                    li.detail__tableBlockList--li ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。
                    li.detail__tableBlockList--li ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。
                    li.detail__tableBlockList--li ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。
                    li.detail__tableBlockList--li ラ・クーポンは、電話予約でご利用できません。
                    li.detail__tableBlockList--li 一部、ラ・クーポンを利用できない店舗がございます。
                    li.detail__tableBlockList--li 発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。
                    li.detail__tableBlockList--li サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。
                    li.detail__tableBlockList--li ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。詳しくは
                      a.detail__tableBlockTxt--link(href="https://beauty.faq.rakuten.net/user/s/detail/000005759")
                        | こちら
                    li.detail__tableBlockList--li 本企画は予告無く変更・中止されることがございます。
                    li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                    li.detail__tableBlockList--li ご来店いただける期間はサロンの営業時間によって異なります。
                    li.detail__tableBlockList--li ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。
        //- 獲得
        if coupon[0].種別 == '獲得'
          if coupon[0].対象デバイス == 'セグメントなし'
            table.detail__table
              tbody
                tr.detail__tableBlock
                tr.detail__tableBlock
                  th.detail__tableBlockHead 注意事項
                  td.detail__tableBlockBody
                    ul.detail__tableBlockList
                      li.detail__tableBlockList--li 獲得したラ・クーポンの利用回数には上限があります。
                      li.detail__tableBlockList--li 他のラ・クーポンとの併用はできません。
                      li.detail__tableBlockList--li ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                      li.detail__tableBlockList--li 獲得したラ・クーポンは、マイページの
                        a.detail__tableBlockTxt--link(href="/user/coupon.php")
                          | マイクーポン
                        | からご確認いただけます。
                      li.detail__tableBlockList--li ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）
                      li.detail__tableBlockList--li ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。
                      li.detail__tableBlockList--li ラ・クーポンは、楽天ビューティ（サイト/アプリ）での予約時にのみご利用いただけます。予約成立後など後から利用することはできません。
                      li.detail__tableBlockList--li ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。
                      li.detail__tableBlockList--li ラ・クーポンは、電話予約でご利用できません。
                      li.detail__tableBlockList--li 一部、ラ・クーポンを利用できない店舗がございます。
                      li.detail__tableBlockList--li 発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。
                      li.detail__tableBlockList--li サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。
                      li.detail__tableBlockList--li ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。
                        a.detail__tableBlockTxt--link(href="https://beauty.faq.rakuten.net/user/s/detail/000005759")
                          | 詳しくはこちら
                      li.detail__tableBlockList--li 本企画は予告無く変更・中止されることがございます。
                      li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                      li.detail__tableBlockList--li ご来店いただける期間はサロンの営業時間によって異なります。
                      li.detail__tableBlockList--li ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。
          //- 獲得＋アプリ予約のみ対象
          if coupon[0].対象デバイス == 'アプリ限定'
            table.detail__table
              tbody
                tr.detail__tableBlock
                tr.detail__tableBlock
                  th.detail__tableBlockHead 注意事項
                  td.detail__tableBlockBody
                    ul.detail__tableBlockList
                      li.detail__tableBlockList--li 獲得したラ・クーポンの利用回数には上限があります。
                      li.detail__tableBlockList--li 他のラ・クーポンとの併用はできません。
                      li.detail__tableBlockList--li ラ・クーポンには利用上限回数（予約成立順）が設定されています。ラ・クーポン獲得済みであっても利用上限に達した場合はご利用いただけません。
                      li.detail__tableBlockList--li 獲得したラ・クーポンは、マイページの
                        a.detail__tableBlockTxt--link(href="/user/coupon.php")
                          | マイクーポン
                        | からご確認いただけます。
                      li.detail__tableBlockList--li ラ・クーポンの利用条件に合致したクーポンのみが、ネット予約STEP中に表示されます。獲得していても、ラ・クーポンが表示されない場合、ラ・クーポンの利用条件等をご確認ください。（予約条件が一致しない、有効期限を過ぎている、利用回数を超えた場合等）
                      li.detail__tableBlockList--li ネット予約確定の前に、他のネット予約が成立し利用上限回数に達した場合には、ネット予約がエラーとなり、ラ・クーポンをご利用になれません。
                      li.detail__tableBlockList--li ラ・クーポンは、楽天ビューティのアプリでの予約時にのみご利用いただけます。予約成立後など後から利用することはできません。
                      li.detail__tableBlockList--li ラ・クーポンを印刷して来店時にお持ちいただいても割引することはできません。
                      li.detail__tableBlockList--li ラ・クーポンは、電話予約でご利用できません。
                      li.detail__tableBlockList--li 一部、ラ・クーポンを利用できない店舗がございます。
                      li.detail__tableBlockList--li 発行されているラ・クーポンによって来店期日は異なりますので、ご注意ください。
                      li.detail__tableBlockList--li サロンの予約状況によっては、ご希望に添えなかったり、お断りする場合もございます。
                      li.detail__tableBlockList--li ラ・クーポンを利用した予約をキャンセルした場合、利用条件を満たしていれば、マイクーポンに返還されます。
                        a.detail__tableBlockTxt--link(href="https://beauty.faq.rakuten.net/user/s/detail/000005759")
                          | 詳しくはこちら
                      li.detail__tableBlockList--li 本企画は予告無く変更・中止されることがございます。
                      li.detail__tableBlockList--li 本サービスへのアクセス集中や通信回線の状態による遅延、不具合などにより本サービスへのアクセスや登録・表示などができないことにより発生した障害、または起因して発生したすべての事象に関しましては、当社の責めに帰すべき場合を除き、責任を負いかねます。
                      li.detail__tableBlockList--li ご来店いただける期間はサロンの営業時間によって異なります。
                      li.detail__tableBlockList--li ラ・クーポンの使用方法についてご不明点があった場合は、楽天ビューティにお問い合わせください。

    //- Other Campaign
    section#Campaign.campaign(data-ratid='cpn_' + meta.directory + '_Campaign' data-ratevent='appear' data-ratparam='all')
      .titleWrap
        h2.titleWrap--title その他のキャンペーン

      include ../../../../_common/pug/Module/Common/_campaignList
      +campaignList()


block js
  //- jsはここに書く

  //------------------------------- ライブラリ読み込み -------------------------------//

  //- jQuery（使用しない時はコメントアウト）
  //- script(src="/cnt/common/js/jquery/3.7.1/jquery.min.js", defer)

  //- vue（使用しない時はコメントアウト）
  script(src='/cnt/common/js/vue/vue.min.js', defer)
  script(src='/cnt/common/js/vue/axios.min.js', defer)

  //------------------------------- CPNパーツ用js読み込み -------------------------------//

  //- 1click coupon
  script(src='//r.r10s.jp/com/js/d/Rmodules/Rmodules.min.js?v=1.4.0', defer)
  script(src='//r.r10s.jp/com/js/d/coupon/one_click_acquisition/1.2/one_click_acquisition-1.2.0.min.js', defer)

  //- エリア検索
  script(src="/cnt/common/js/area-search/shopSearch.js", defer)

  //- キャンペーン一覧 (vue)（cpnlist/barter枠のjson読み込み）
  script(src='/cnt/common/js/readjson.js' + parameter, defer)
  //- 読み込みたいjson名をtrueにする（ハイフン抜き）
  script.
    campaignlist = true;

  //------------------------------- Kintoneの数字変換用js -------------------------------//

  -
    //- 数字にカンマをつける（Kintoneの数字変換用js）
    function addComma(no){
      return no.toLocaleString();
    }
    //- 日付置換（_couponOneClickで使用）
    function dateChange(date){
      let dateArray = date.split(/[/ ]/);
      dateArray.splice( 0, 1, removeLeadingZeros(dateArray[0]) + '年');
      dateArray.splice( 1, 1, removeLeadingZeros(dateArray[1]) + '月');
      //- 日付と時刻の間に半角スペースも挿入
      dateArray.splice( 2, 1, removeLeadingZeros(dateArray[2]) + '日 ');
      return dateArray.join('');
    }
    //- 日付から先頭の0を削除
    function removeLeadingZeros(dateString) {
      return dateString.replace(/^0/, '');
    }
    
  //------------------------------- このページ用のjs -------------------------------//

  //- あればここに書く

